<!DOCTYPE html>
<html>
  <head>
    <title>authed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Authed page</h1>
    <p>name: <%= user.name %></p>
    <p>email: <%= user.email %></p>
    <p><a href="/logout">logout</a></p>
  </body>
</html>
