<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Index page</h1>
    <p>please <a href="/login">login</a></p>
  </body>
</html>
