<!DOCTYPE html>
<html>
  <head>
    <title>tokeninfo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TokenInfo page</h1>
    <div>
      <p>ID Token</p>
      <pre><code><%= id_token %></code></pre>
    </div>
    <div>
      <p>Access Token</p>
      <pre><code><%= access_token %></code></pre>
    </div>
    <div>
      <p>Refresh Token</p>
      <pre><code><%= refresh_token %></code></pre>
    </div>
    <p>back to <a href="/">root page</a></p>
  </body>
</html>