<!DOCTYPE html>
<html>
  <head>
    <title>userinfo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UserInfo page</h1>
    <div><pre><code><%= userinfo %></code></pre></div>
    <p>back to <a href="/">root page</a></p>
  </body>
</html>